*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 65.5%;
}

body{
    background:#14141E;
}
.masterContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;

}
.masterContainer h1{
    color:#FF6634;
    font-family: 'Creepster', cursive;
    font-size: 5.5rem;
    letter-spacing: 2px;
}
.masterContainer h2{
    color:#FF6634;
    font-family: 'Creepster', cursive;
    font-size: 3rem;
    letter-spacing: 3px;
    padding:1rem;
}
.masterContainer button{
    color: #14141E;
    font-family: 'Creepster', cursive;
    letter-spacing: 2px;
    font-size: 2rem;
    padding: 1rem;
}
.questionContainer{
    height: 100vh;
    width: 100vw;
    color: #14141E;
    display: none; 
}
.questions{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions h2{
    text-align: center;
    width: 80%;
    font-size: 4rem;
    letter-spacing: 2px;
    color:#FF6634;
    font-family: 'Creepster', cursive;
}
.clown{
    height: 100%;
    width: 100%;
    display: none;
}
.testB{
    display: none;
opacity: 0;
}
.answerQuestion{

    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#FF6634;
    flex-direction: column;
    display: none;
}
.answerQuestion h2{
    padding-top:5rem;
    color: #14141E;
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
    width: 70%;
    margin: 0 auto;
}
.theQuestion{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
.theQuestion img{
    width: 95%;
    height: 50%;
}
.answerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.theQuestion h2{
    width: 80%;
    padding: 2rem;
}
.answerContainer button{
    width: 40%;
    background: #14141E;
    color:#FF6634;
    padding: 1rem;
    margin: 1rem;
    border: none;
    font-family: 'Creepster', cursive;
    font-size: 3rem;
}
.rickRolled{
    width: 100%;
    height: 100%;
    text-align: center;
    background: #14141E;
    display: none;
    padding: 5rem;
}
.rickRolled h2{
    margin: 0 auto;
    width: 100%;
    color:#FF6634;
    font-family: 'Creepster', cursive;
    font-size: 5rem;
}
.rickRolled img{
    padding: 1rem;
    height: 60%;
    width: 100%;
}